@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-family: "Inter", sans-serif;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .section {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 90px;
  }
}

h1,
h2,
h3,
h6 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.aboutCompanySection .container {
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo {
    text-align: start;
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo {
    margin-left: 80px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle {
  padding: 0;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle {
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle h2 {
    width: 532px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .aboutCompanyText p {
  padding-top: 20px;
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo {
    flex-direction: row;
    justify-content: start;
    margin-top: 50px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
  margin: 20px;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
    width: 160px;
    margin-right: 60px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
    width: 180px;
    height: 56px;
    text-align: center;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 769px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo:hover {
    background: #f9d783;
    border-radius: 20px;
    transition: background 0.3s;
  }
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo .playButton i {
  border: solid #191919 1px;
  font-size: 10px;
  border-radius: 50%;
  padding: 15px;
  margin-right: 5px;
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo .introVideo {
  text-decoration: none;
  color: #191919;
}
.aboutCompanySection .container .aboutCompany .founder {
  position: relative;
  margin-bottom: 20px;
}
.aboutCompanySection .container .aboutCompany .founder img {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder img {
    display: block;
    width: 300px;
    margin-right: 70px;
    margin-left: 90px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder img {
    height: 615px;
    width: auto;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo {
    display: block;
    position: absolute;
    background: #beebff;
    bottom: 80px;
    left: 10px;
    padding: 20px;
    text-align: start;
    width: 270px;
    height: 120px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo {
    padding: 20px;
    text-align: start;
    width: 310px;
    height: 140px;
    bottom: 100px;
    left: 20px;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
  font-weight: 700;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
    font-size: 20px;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo h3 span {
  color: #f94d1c;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 span {
    font-weight: 700;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo p {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo p {
    display: block;
    font-size: 14px;
    padding-top: 10px;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderLine {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderLine {
    display: block;
    position: absolute;
    width: 30%;
    top: 50px;
    left: -25px;
    z-index: 1;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder .founderLine {
    width: 226px;
    height: 100px;
    left: -50px;
    top: 70px;
  }
}

@media (min-width: 992px) {
  .projectAndCaseSection .container .sectionTitle {
    align-items: center;
  }
}
.projectAndCaseSection .container .projectAndCases {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
.projectAndCaseSection .container .projectAndCases article img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article img {
    width: 645px;
    height: 455px;
  }
}
.projectAndCaseSection .container .projectAndCases article h3 {
  font-weight: 700;
  font-size: 20px;
  border-bottom: solid #dad9d3 1px;
}
.projectAndCaseSection .container .projectAndCases article a {
  text-decoration: none;
  color: #191919;
  display: block;
  text-align: right;
}
.projectAndCaseSection .container .projectAndCases article a:hover {
  background: #f9d783;
  text-decoration: underline;
  transition: 0.3s;
  border-radius: 15px;
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article a {
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article a i {
    margin-left: 3px;
  }
}
.projectAndCaseSection .container .centerButton {
  margin-top: 45px;
  margin-bottom: 90px;
}

.meetOurTeamSection {
  background-color: #f9d783;
  padding-bottom: 30px;
}
.meetOurTeamSection .container .meetOurTeam .team .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card {
  margin-top: 20px;
  background-color: #f9d783;
  border: none;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card {
    align-items: start;
    margin-right: 30px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card img {
  width: 100%;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card img {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card img {
    width: 80%;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
    font-size: 22px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card p {
  font-size: 14px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card p {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card p {
    font-size: 16px;
  }
}
.meetOurTeamSection .container .meetOurTeam .dots {
  display: flex;
  justify-content: center;
}
.meetOurTeamSection .container .meetOurTeam .dots .dot {
  font-size: 70px;
  color: RGBA(25, 25, 25, 0.4);
  margin-left: 5px;
  margin-bottom: 20px;
}
.meetOurTeamSection .container .meetOurTeam .dots .blackDot {
  color: #191919;
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
  background: #fff;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 960px;
    height: 800px;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 1130px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 1320px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .sectionTitle {
  align-items: center;
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review {
  margin-bottom: 20px;
  padding: 30px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review {
    text-align: left;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .stars i {
  margin-bottom: 20px;
  color: #f94d1c;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .reviewText {
    width: 230px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user {
    justify-content: start;
    align-items: center;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user img {
  margin-right: 15px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user img {
    width: 80%;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
  margin: 0;
  font-weight: 700;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 18px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 18px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 22px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
  color: #f94d1c;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 14px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 12px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 14px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .centerButton {
  margin-top: 40px;
  padding-bottom: 40px;
}

.articleAndNewsSection .container .articleAndNews .articles {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article {
    margin: 20px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article:hover {
  background: #f9d783;
  border-radius: 10px;
  text-decoration: underline;
}
.articleAndNewsSection .container .articleAndNews .articles .article a {
  text-decoration: none;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer {
  position: relative;
  width: 100%;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer img {
  width: 100%;
  z-index: -1;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 18%;
  padding: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
  background: #f9d783;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p {
    width: 18%;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p span {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText {
  padding: 10px;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText {
    text-align: left;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText .header {
  color: #6a6c71;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText .header {
    font-size: 14px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
  font-weight: 700;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 22px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText p {
  color: #6a6c71;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText p {
    font-size: 14px;
  }
}
.articleAndNewsSection .container .articleAndNews .dots {
  display: flex;
  justify-content: center;
}
.articleAndNewsSection .container .articleAndNews .dots .dot {
  font-size: 70px;
  color: RGBA(25, 25, 25, 0.4);
  margin-left: 5px;
  margin-bottom: 20px;
}
.articleAndNewsSection .container .articleAndNews .dots .blackDot {
  color: #191919;
}

.signUpForNewsSection {
  background: #f0efe9;
  position: relative;
  padding-bottom: 90px;
}
.signUpForNewsSection .backgroundLine {
  display: none;
}
@media (min-width: 992px) {
  .signUpForNewsSection .backgroundLine {
    display: block;
    position: absolute;
    right: 0;
    bottom: 30px;
  }
}
.signUpForNewsSection .container .signUpForNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .signUpForNewsSection .container .signUpForNews .newsUpdateText {
    display: flex;
    gap: 70px;
  }
}
.signUpForNewsSection .container .signUpForNews .newsUpdateText h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .signUpForNewsSection .container .signUpForNews .newsUpdateText h2 {
    margin-bottom: 0;
    font-size: 35px;
  }
}
.signUpForNewsSection .container .signUpForNews .newsUpdateText form .input {
  background: #fff;
  font-style: italic;
  color: RGBA(25, 25, 25, 0.5);
  border-radius: 25px;
  padding: 12px 25px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contactSection {
  position: relative;
  background: #f0efe9;
}
.contactSection img {
  display: none;
}
@media (min-width: 1200px) {
  .contactSection img {
    display: block;
    position: absolute;
    top: 65px;
  }
}
.contactSection .container .homeConnect {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contactSection .container .homeConnect p a {
  text-decoration: none;
  color: #191919;
  margin-left: 15px;
}
.contactSection .container .homeConnect p a:hover {
  text-decoration: underline;
}
.contactSection .container .homeConnect p .home {
  color: gray;
  font-weight: 300;
}
.contactSection .container .homeConnect p .connect {
  font-weight: 500;
}
.contactSection .container h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 40px;
}
.contactSection .container img {
  display: none;
}

.companyInfoSection .container .boxContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .companyInfoSection .container .boxContainer {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes {
    display: flex;
    justify-content: center;
    border: solid rgba(25, 25, 25, 0.2) 1px;
    padding: 20px;
    gap: 10px;
    text-align: left;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes {
    height: 206px;
    width: 420px;
  }
}
.companyInfoSection .container .boxContainer .boxes i {
  background: black;
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes i {
    margin-right: 20px;
    font-size: 16px;
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes i {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a {
  text-decoration: none;
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a:hover {
  text-decoration: underline;
  color: #191919;
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
  padding: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0.8);
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    font-size: 22px;
  }
}

.messageUs .container {
  background: #f0efe9;
  padding: 30px;
}
@media (min-width: 1400px) {
  .messageUs .container {
    padding: 150px;
  }
}
.messageUs .container h2 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .messageUs .container h2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  .messageUs .container h2 {
    font-size: 45px;
  }
}
.messageUs .container #contactForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.messageUs .container #contactForm input,
.messageUs .container #contactForm textarea {
  border-radius: 20px;
  padding: 15px;
}
.messageUs .container #contactForm button {
  display: block;
}

.map .googleMap {
  width: 100%;
}

.footerSection .contactFooterLine {
  display: none;
}
@media (min-width: 992px) {
  .footerSection .contactFooterLine {
    display: block;
    position: absolute;
    right: 0;
    bottom: 60px;
  }
}