//font Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

//font DM Sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-family: "Inter", sans-serif;
}

// Center button
.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


.section {
  padding-top: 50px;
  @media (min-width: 992px) {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  @media (min-width: 1200px) {
    padding-top: 90px;
  }
}

h1,
h2,
h3,
h6 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}


// CONTACT

.contactSection {
  position: relative;
  background: #f0efe9;

  img {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      position: absolute;
      top: 65px;
    }
  }
  .container {
    .homeConnect {
      display: flex;
      justify-content: center;
      text-align: center;

      p {
        a {
          text-decoration: none;
          color: #191919;
          margin-left: 15px;

          &:hover {
            text-decoration: underline;
          }
        }
        .home {
          color: gray;
          font-weight: 300;
        }
        .connect {
          font-weight: 500;
        }
      }
    }
    h1 {
      text-align: center;
      font-weight: 700;
      padding-bottom: 40px;
    }
    img {
      display: none;
    }
  }
}

.companyInfoSection {
  .container {
    .boxContainer {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
      }

      .boxes {
        @media (min-width: 992px) {
          display: flex;
          justify-content: center;
          border: solid rgba(25, 25, 25, 0.2) 1px;
          padding: 20px;
          gap: 10px;
          text-align: left;
          align-items: center;
        }

        @media (min-width: 1400px) {
          height: 206px;
          width: 420px;
        }

        i {
          background: black;
          font-size: 14px;
          padding: 10px;
          border-radius: 50%;
          color: white;
          margin-bottom: 10px;

          @media (min-width: 992px) {
            margin-right: 20px;
            font-size: 16px;
            padding: 15px;
          }

          @media (min-width: 1400px) {
            font-size: 22px;
            margin-bottom: 50px;
          }
        }
        .boxHeaderAndText {
          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: #191919;
            }
            p {
              padding: 0;
              margin: 0;
              color: rgba(25, 25, 25, 0.8);

              @media (min-width: 992px) {
                font-size: 15px;
              }

              @media (min-width: 1400px) {
                font-size: 18px;
              }
            }
          }
          h3 {
            @media (min-width: 992px) {
              margin-bottom: 20px;
              font-size: 22px;
              font-weight: 700;
            }

            @media (min-width: 1400px) {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

// Leave a message section
.messageUs {
  .container {
    background: #f0efe9;
    padding: 30px;

    @media (min-width: 1400px) {
      padding: 150px;
    }

    h2 {
      text-align: center;
      font-weight: 700;
      padding-bottom: 10px;

      @media (min-width: 992px) {
        padding-bottom: 20px;
      }

      @media (min-width: 1400px) {
        font-size: 45px;
      }
    }

    #contactForm {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;

      input,
      textarea {
        border-radius: 20px;
        padding: 15px;
      }

      button {
        display: block;
      }
    }
  }
}
.map {
  .googleMap {
    width: 100%;
  }
}

.footerSection {
  .contactFooterLine {
    display: none;
    @media (min-width: 992px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 60px;
    }
  }
}
