@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-family: "Inter", sans-serif;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .section {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 90px;
  }
}

h1,
h2,
h3,
h6 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.contactSection {
  position: relative;
  background: #f0efe9;
}
.contactSection img {
  display: none;
}
@media (min-width: 1200px) {
  .contactSection img {
    display: block;
    position: absolute;
    top: 65px;
  }
}
.contactSection .container .homeConnect {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contactSection .container .homeConnect p a {
  text-decoration: none;
  color: #191919;
  margin-left: 15px;
}
.contactSection .container .homeConnect p a:hover {
  text-decoration: underline;
}
.contactSection .container .homeConnect p .home {
  color: gray;
  font-weight: 300;
}
.contactSection .container .homeConnect p .connect {
  font-weight: 500;
}
.contactSection .container h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 40px;
}
.contactSection .container img {
  display: none;
}

.companyInfoSection .container .boxContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .companyInfoSection .container .boxContainer {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes {
    display: flex;
    justify-content: center;
    border: solid rgba(25, 25, 25, 0.2) 1px;
    padding: 20px;
    gap: 10px;
    text-align: left;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes {
    height: 206px;
    width: 420px;
  }
}
.companyInfoSection .container .boxContainer .boxes i {
  background: black;
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes i {
    margin-right: 20px;
    font-size: 16px;
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes i {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a {
  text-decoration: none;
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a:hover {
  text-decoration: underline;
  color: #191919;
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
  padding: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0.8);
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    font-size: 22px;
  }
}

.messageUs .container {
  background: #f0efe9;
  padding: 30px;
}
@media (min-width: 1400px) {
  .messageUs .container {
    padding: 150px;
  }
}
.messageUs .container h2 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .messageUs .container h2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  .messageUs .container h2 {
    font-size: 45px;
  }
}
.messageUs .container #contactForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.messageUs .container #contactForm input,
.messageUs .container #contactForm textarea {
  border-radius: 20px;
  padding: 15px;
}
.messageUs .container #contactForm button {
  display: block;
}

.map .googleMap {
  width: 100%;
}

.footerSection .contactFooterLine {
  display: none;
}
@media (min-width: 992px) {
  .footerSection .contactFooterLine {
    display: block;
    position: absolute;
    right: 0;
    bottom: 60px;
  }
}