.companySection .container {
  display: flex;
  justify-content: center;
}
.companySection .container .companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.companySection .container .companies img {
  max-width: 40%;
}
@media (min-width: 992px) {
  .companySection .container .companies {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .companySection .container .companies {
    flex-wrap: nowrap;
    width: 80%;
  }
}