.scrollToTopButton {
    @media(min-width: 1200px) {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        bottom: 100px;
        right: 100px;
        width: 40px;
        height: 40px;
        background: #191919;
        border-radius: 50%;
        z-index: 1;

        &:hover {
            background-color: #f9d783;
            i {
                color: #191919;
            }

            transition: background .3s;
        }

        
        i {
            color: #FFF;
            font-size: 18px;
        }
    }
}

.hide {
    display: none;
}