.articleAndNewsSection {
    .container {
      .articleAndNews {
        .sectionTitleWithButton{
            text-align: center;
            margin-bottom: 20px;
            margin-top: 50px;
            @media(min-width: 992px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 50px;

            }
            @media(min-width: 992px) {
                margin: -40px;
                padding-bottom: 40px;
            }

            .sectionTitle {
                @media(min-width: 769px) {
                    text-align: center;
                }
                @media(min-width: 992px) {
                    text-align: left;
                }
            }

            .btn {
                margin-bottom: 20px;
                @media(min-width: 992px) {
                    margin-right: 50px;
                }
            }

        }
        .articles {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
  
          @media (min-width: 769px) {
            display: flex;
            flex-direction: row;
            gap: 20px;
          }
          .article {
            margin-bottom: 20px;
  
            @media (min-width: 992px) {
              margin: 20px;
            }
            &:hover {
              background: #f9d783;
              border-radius: 10px;
              text-decoration: underline;
            }
  
            a {
              text-decoration: none;
            }
  
            .imgContainer {
              position: relative;
              width: 100%;
  
              img {
                width: 100%;
                z-index: -1;
              }
              p {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                margin: 0;
                width: 18%;
                padding: 2px;
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 0;
                background: #f9d783;
  
                @media (min-width: 992px) {
                  width: 18%;
                }
  
                span {
                  padding: 0;
                  margin: 0;
                  font-size: 22px;
                  font-weight: 800;
                }
              }
            }
            .articleText {
              padding: 10px;
  
              @media (min-width: 769px) {
                text-align: left;
              }
  
              .header {
                font-weight: 700;
                @media (min-width: 769px) {
                  font-size: 20px;
                }
                @media (min-width: 992px) {
                  font-size: 20px;
                }
                @media (min-width: 1200px) {
                  font-size: 22px;
                }
              }
  
              p {
                color: #6a6c71;
  
                @media (min-width: 992px) {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .dots {
          display: flex;
          justify-content: center;
          .dot {
            font-size: 70px;
            color: RGBA(25, 25, 25, 0.4);
            margin-left: 5px;
            margin-bottom: 20px;
          }
          .blackDot {
            color: #191919;
          }
        }
      }
    }
  }