.messageUs {
    .container {
      background: #f0efe9;
      padding: 30px;
  
      @media (min-width: 1400px) {
        padding: 150px;
      }
  
      h2 {
        text-align: center;
        font-weight: 700;
        padding-bottom: 10px;
  
        @media (min-width: 992px) {
          padding-bottom: 40px;
          margin-bottom: 50px;
        }
  
        @media (min-width: 1400px) {
          font-size: 45px;
        }
      }
  
      #contactForm {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        margin: 0;
        // padding-bottom: 20px;

        .inputField {
            width: 100%;
            // margin-bottom: 20px;
            // margin-top: 20px;
            span {
                padding: 0px;
                margin: 0;
            }
            input {
                width: 100%;
            }
            textArea {
                width: 100%;
            }
        }
        input,
        textarea {
          border-radius: 20px;
          padding: 15px;
        }
  
        button {
          display: block;
        }
      }
    }
  }

  .error {
    color: red;
    font-size: 12px;
    text-align: start;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 18px;
  }

.messageSent {
    background-color: limegreen;
    // display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 20px; 
}