.posts {
    padding: 5px;
    border-radius: 10px;
    &:hover {
        background-color: #F9D783;
        transition: background .3s 
    }
    .link {
        text-decoration: none;

        .title {
            font-weight: 700;
            color: #191919;
            margin-top: 15px;
            font-size: 16px;;
        }
        .pContainer{
            border-bottom: solid #19191980 1px;
            .date {
                color: #191919;
            }
        }
    }
}