.signUpForNewsSection {
    background: #f0efe9;
    position: relative;
    padding-bottom: 90px;
  
    .backgroundLine {
      display: none;
      @media (min-width: 992px) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 30px;
      }
    }
    .container {
      .signUpForNews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
  
        .newsUpdateText {
          @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            gap: 70px;
          }
  
          h2 {
            font-weight: 700;
            margin-bottom: 30px;
  
            @media (min-width: 1200px) {
              margin-bottom: 0;
              font-size: 35px;
            }
          }
  
          form {
            .input {
              background: #fff;
              font-style: italic;
              color: RGBA(25, 25, 25, 0.5);
              border-radius: 25px;
              padding: 12px 25px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }